<a href="https://colab.research.google.com/github/franckoj/database/blob/main/casssandra_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install cassandra-driver

In [ ]:
import cassandra
from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from ssl import PROTOCOL_TLSv1_2,SSLContext,CERT_NONE

ssl_context= SSLContext(PROTOCOL_TLSv1_2)
ssl_context.verify_mode=CERT_NONE

auth_provider=PlainTextAuthProvider(username='pwcass',password='4npxDaR2mxA6Gbj3zlKpAzAGaK7vQrl6jP7szCW7LsAWE9vSaeBOWcvOUfAzrRi4MDPk3jla2QCSkEh7XlNMoQ==')
cluster=Cluster(['pwcass.cassandra.cosmos.azure.com'],port=10350,auth_provider=auth_provider,ssl_context=ssl_context)
session=cluster.connect()
from requests.utils import DEFAULT_CA_BUNDLE_PATH

In [ ]:
session.execute('CREATE KEYSPACE IF NOT EXISTS FRAN WITH replication={\'class\':\'NetworkTopologyStrategy\',\'datacenter\':\'1\'}')

In [ ]:
session.execute('CREATE TABLE IF NOT EXISTS FRAN.cities(user_id int PRIMARY KEY , username text,user_bcity text)')

In [ ]:
session.execute("INSERT INTO FRAN.cities (user_id,username,user_bcity) VALUES (%s,%s,%s)",[1,'John','Chennai'])
session.execute("INSERT INTO FRAN.cities (user_id,username,user_bcity) VALUES (%s,%s,%s)",[2,'Jovin','Manali'])
session.execute("INSERT INTO FRAN.cities (user_id,username,user_bcity) VALUES (%s,%s,%s)",[3,'Haines','Kochi'])
session.execute("INSERT INTO FRAN.cities (user_id,username,user_bcity) VALUES (%s,%s,%s)",[4,'Arun','Kovalam'])

In [ ]:
from prettytable import PrettyTable

def PrintTable(rows):
  t=PrettyTable(['User_ID','Name','City'])
  for r in rows:
    t.add_row([r.user_id,r.username,r.user_bcity])
  print(t)
rows=session.execute('SELECT * FROM FRAN.cities')
PrintTable(rows)

In [ ]:

session.execute("CREATE KEYSPACE IF NOT EXISTS cycling WITH REPLICATION={\'class\': \'NetworkTopologyStrategy\',\'datacenter1\':\'3\'}")

In [ ]:
session.execute("CREATE TABLE IF NOT EXISTS cycling.rankbyyearandname(race_year int , race_name text, cyclist_name text, rank int, PRIMARY KEY((race_year, race_name), rank) );")

In [ ]:
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2015, 'Tour of Italy','Raj', 1])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2014, 'Tour of France','Raju', 2])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2018, 'Tour of Japan','Raje', 3])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2019, 'Tour of Australia','Rajt', 4])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2005, 'Tour of Autria','Rajy', 5])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2021, '4th Tour of Italy','Rajt', 6])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2007, '4th Tour of France','Rajg', 7])
session.execute("INSERT INTO cycling.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2004, '4th Tour of Autria','Rajd', 8])

In [ ]:
session.execute("CREATE TYPE cycling.basic_info(birthday timestamp,  nationality text, weight text, height text)")

In [ ]:
session.execute("CREATE TABLE cycling.cycling_stats (id uuid PRIMARY KEY, lastname text, basics FROZEN<basic_info>);")

In [ ]:
session.execute("INSERT INTO cycling.cycling_stats (id, lastname, basics ) VALUES (8b845131-c8b2-4197-84e6-f713de36f496, 'FRAME',{ birthday: '1993-08-18', nationality: 'India', weight:null, height:null});")

In [ ]:
session.execute("CREATE TYPE cycling.race (race_title text, race_date timestamp, race_time text);")
session.execute("CREATE TABLE cycling.cyclist_races (id uuid PRIMARY KEY, lastname text, firstname text, races list<FROZEN<race>>);")

In [ ]:
session.execute("INSERT INTO cycling.cyclist_races (id, lastname, firstname, races ) VALUES (7da4b41e-8a42-4dc0-ba50-6c928fcf254a, 'Los','Mary', [{ race_title: 'PREM RACE', race_date:'09-09-2018', race_time:'09:50'},{ race_title: 'PREM1 RACE', race_date:'09-09-2008', race_time:'08:50'}]);")

In [ ]:
def PrintTable(rows):
    t = PrettyTable(['id','lastname','firstname','races'])
    for r in rows:
      t.add_row([r.id, r.lastname, r.firstname,r.races])
    print(t)

rows = session.execute('SELECT * FROM cycling.cyclist_races LIMIT 5')
PrintTable(rows)