<a href="https://colab.research.google.com/github/franckoj/database/blob/main/neo4j_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install neo4j

In [ ]:
import neo4j
from neo4j import GraphDatabase

uri='bolt://44.192.41.184:7687'
user='neo4j'
passwd='fort-core-pistons'
driver=GraphDatabase.driver(uri,auth=(user, passwd))

In [ ]:
class Driver:
  def __init__(this,uri,user,passwd):
    this.driver = GraphDatabase.driver(uri, auth=(user, passwd))
  def close(this): 
    this.driver.close()

In [ ]:
class Driver:
  def __init__(this,uri,user,password):
    this.driver = GraphDatabase.driver(uri, auth=(user, password))
  def close(this):
    this.driver.close()
  
  def executequery(this, query, parameters=None, db=None):
    session = this.driver.session(database=db) if db is not None else this.driver.session()

    response=[]

    try:
      response = list(session.run(query, parameters))
    except Exception as e:
      print("Query failed:",e)
    finally:
      if session is not None:
        session.close()
      return response

In [ ]:
#query='CREATE (t:trainer{name:"francis"})-[rel:Likes]->(f:food{type:"pasta"})'

query = 'CREATE (t:trainer)-[:LIKES]->(f:food)'
mydriver = Driver(uri, user, passwd)
mydriver.executequery(query)

[]

In [ ]:

trainers = ["Deepanshu","mantis shrimp","donald duck"]
food = ["chole bhature","samosa","pav bhaji"]

In [ ]:
for c in range(3):
  query = 'CREATE (t:trainer {name:"'+trainers[c]+'"})-[rel:LIKES]->(f:food{type:"'+food[c]+'"})'
  mydriver.executequery(query)

In [ ]:

query = 'MATCH (t:trainer) RETURN t'
mydriver.executequery(query)

In [ ]:
query = 'MATCH (t:trainer{name:"Deepanshu"})-[:LIKES]->(f:food) RETURN f '
mydriver.executequery(query)

In [ ]:
query = 'MATCH (t:trainer)-[:LIKES]->(f:food{type:"chole bhature"}) RETURN t '
mydriver.executequery(query)

In [ ]:

trainers = ['Anshu', 'Superman','Goofy','thor','Batman']
students = ['humans','monkeys','cats','pikachus','giraffe']

for c in range(5):
  query = 'CREATE (t:trainer {name:"'+trainers[c]+'"})-[rel:TEACHES]->(s:student{gene:"'+students[c]+'"})'
  mydriver.executequery(query)

In [ ]:

query = 'MATCH (t:trainer)-[:TEACHES]->(s:student) RETURN t'
mydriver.executequery(query)

[]

In [ ]:
query = 'MATCH (t:trainer{name:"Batman"}) SET t.birthdate = date("1980-10-10") RETURN t'
mydriver.executequery(query)

In [ ]:
query = 'MATCH (t:trainer)-[tea:TEACHES]-(s:student) RETURN t.name,tea.id,s.gene'
mydriver.executequery(query)

[]

In [ ]:

query = 'MATCH (t:trainer) WHERE t.name="Batman" RETURN t'
mydriver.executequery(query)

[]

In [ ]:
query = 'MATCH (t:trainer) WHERE NOT t.name="Batman" RETURN t.name, t.birthdate'
mydriver.executequery(query)

[<Record t.name='francis' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Anshu' t.birthdate=None>,
 <Record t.name='Superman' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='thor' t.birthdate=None>]

In [ ]:
query = 'MATCH (t:trainer) WHERE NOT t.name="Batman" RETURN t.name, t.birthdate'
mydriver.executequery(query)

[<Record t.name='francis' t.birthdate=None>,
 <Record t.name='Deepanshu' t.birthdate=None>,
 <Record t.name='mantis shrimp' t.birthdate=None>,
 <Record t.name='donald duck' t.birthdate=None>,
 <Record t.name='Anshu' t.birthdate=None>,
 <Record t.name='Superman' t.birthdate=None>,
 <Record t.name='Goofy' t.birthdate=None>,
 <Record t.name='thor' t.birthdate=None>]

In [ ]:

query = 'MATCH (d:trainer) WHERE exists(d.birthdate) RETURN d.name, d.birthdate'
mydriver.executequery(query)

In [ ]:

query = 'MATCH (d:trainer)-[rel:LIKES]->(f:food) WHERE exists(d.birthdate) RETURN d.name, d.birthdate,f.type'
mydriver.executequery(query)

[]

In [ ]:
trainers = ['Anshu', 'Superman','Goofy','thor','Batman']

import random
def sendRandomNumber():
  return int(random.random()*1000)

for trainer in trainers:
  query = 'CREATE (t:trainer {name:"'+trainer+'"}) SET t.age='+str(sendRandomNumber())+' RETURN t'
  mydriver.executequery(query)

In [ ]:
query='MATCH (t:trainer) RETURN t'
mydriver.executequery(query)

[<Record t=<Node id=0 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=2 labels=frozenset({'trainer'}) properties={'name': 'francis'}>>,
 <Record t=<Node id=4 labels=frozenset({'trainer'}) properties={}>>,
 <Record t=<Node id=6 labels=frozenset({'trainer'}) properties={'name': 'Deepanshu'}>>,
 <Record t=<Node id=8 labels=frozenset({'trainer'}) properties={'name': 'mantis shrimp'}>>,
 <Record t=<Node id=10 labels=frozenset({'trainer'}) properties={'name': 'donald duck'}>>,
 <Record t=<Node id=12 labels=frozenset({'trainer'}) properties={'name': 'Anshu'}>>,
 <Record t=<Node id=14 labels=frozenset({'trainer'}) properties={'name': 'Superman'}>>,
 <Record t=<Node id=16 labels=frozenset({'trainer'}) properties={'name': 'Goofy'}>>,
 <Record t=<Node id=18 labels=frozenset({'trainer'}) properties={'name': 'thor'}>>,
 <Record t=<Node id=20 labels=frozenset({'trainer'}) properties={'name': 'Batman', 'birthdate': neo4j.time.Date(1980, 10, 10)}>>]

In [ ]:
query='MATCH (t:trainer) WHERE 350< t.age<700 RETURN t'
mydriver.executequery(query)

In [ ]:
query='MATCH (t:trainer) WHERE t.name STARTS WITH "G" RETURN t.name'
print(mydriver.executequery(query))
query='MATCH (t:trainer) WHERE t.name CONTAINS "a" RETURN t.name'
print(mydriver.executequery(query))
query='MATCH (t:trainer) WHERE t.name ENDS WITH "u" RETURN t.name'
print(mydriver.executequery(query))

[<Record t.name='Goofy'>, <Record t.name='Goofy'>]
[<Record t.name='francis'>, <Record t.name='Deepanshu'>, <Record t.name='mantis shrimp'>, <Record t.name='donald duck'>, <Record t.name='Superman'>, <Record t.name='Batman'>, <Record t.name='Superman'>, <Record t.name='Batman'>]
[<Record t.name='Deepanshu'>, <Record t.name='Anshu'>, <Record t.name='Anshu'>]